@import url("https://fonts.cdnfonts.com/css/Ubuntu");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
@apply w-[100%] lg:w-[85%] outline-none border
border-coolGray p-2 tracking-wider rounded-[3px]
    }

    .view{
        @apply lg:w-[70%] lg:h-[85vh] h-auto
        lg:my-0 lg:mx-auto lg:bg-White lg:absolute lg:top-1/2 lg:left-1/2 lg:translate-x-[-50%]
        lg:translate-y-[-50%] lg:rounded-[15px] lg:shadow-md flex flex-col lg:flex-row lg:gap-[30px]
    }

    .card{
        @apply bg-White lg:bg-none p-6 w-[90%] lg:w-[75%] h-auto absolute lg:static top-[15%] left-[50%]
        translate-x-[-50%] lg:translate-x-0
         lg:mt-8
         rounded-[12px] shadow-md lg:shadow-none
    }

    .cardH1{
        @apply text-marineBlue font-bold text-[1.5em] lg:text-[2em]
    }
}